{{>ezenweb/header}}
    <div class="container">
        <!--상단부분-->

        <div class="boardTopEtc">
            <div>
                <!--페이지당 게시물수 버튼, 글쓰기 버튼-->
                <select class="pageBoardSize boardBtn" onchange="onPageBoardSize(this)">
                    <option value="5"> 5 </option>
                    <option value="10"> 10 </option>
                    <option value="15"> 15 </option>
                </select>
                전체 페이지 수 : <span class="totalPage"></span>
                전체 게시물 수 : <span class="totalBoardSize"></span>
            </div>

            <a href="/board/write" class="boardBtn"> 글쓰기 </a>
        </div>

        <div class="boardCategoryBox">
            <button type="button" onclick="onBcno(0)" class="btn btn-secondary btn-sm boardBtn ">전체보기</button>
            <button type="button" onclick="onBcno(1)" class="btn btn-secondary btn-sm boardBtn">자유</button>
            <button type="button" onclick="onBcno(2)" class="btn btn-secondary btn-sm boardBtn">노하우</button>
        </div>

        <div class="boardSearchBox">
            <select class="key boardBtn boardSearchBtn">    <!--검색 key-->
                <option value="b.btitle"> 제목 </option>
                <option value="b.bcontent"> 내용 </option>
                <option value="m.id"> 작성자 </option>
            </select>
            <input class="keyword" />   <!--검색 keyword : sql검색 시 사용할 필드의 값-->
            <button type="button" class="boardBtn boardSearchBtn" onclick="onSearch()"> 검색 </button>
        </div>

        <!--테이블-->
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th style="width=5%;" scope="col">번호</th>
                    <th style="width=60%;" scope="col">제목</th>
                    <th style="width=15%;" scope="col">작성자</th>
                    <th style="width=15%;" scope="col">작성일</th>
                    <th style="width=5%;" scope="col">조회수</th>
                </tr>
            </thead>
            <tbody id="boardTableBody" class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td><img src="/img/default.jpg" style="width : 23px; border-radius : 50%"/> 유재석 </td>
                    <td>2024-03-05 11:00:30</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link">이전</a>
                </li>
                <li class="page-item"><a class="page-link" onclick="doViewList(1)">1</a></li>
                <li class="page-item"><a class="page-link" onclick="doViewList(2)">2</a></li>
                <li class="page-item"><a class="page-link" onclick="doViewList(3)">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">다음</a>
                </li>
            </ul>
        </nav>
    </div>
<script src="/js/board/board.js"></script>
{{>ezenweb/footer}}