{{>ezenweb/header}}
<div class="constainer">
    <h3>제품목록지도</h3>
    <div id="map" style="width:100%;height:350px;"></div>

</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0de0f114f4db55352233f7e35d89167b&libraries=clusterer"></script>
<script src="/js/product/list.js"></script>
{{>ezenweb/footer}}